*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
canvas {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}

.movement {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
}

.movement_item {
    margin: 0 30px 30px;
    /* padding: 0 10px; */
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #000;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movement2 {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movement2-item-1 {
    display: flex;
}

.movement2-item-2 {
    margin: 0 0 20px 160px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.active:active {
    background: #0000003a;
}

.movement2-item-1_item {
    margin: 0 10px;
}

.player {
    width: 10px;
    height: 10px;
    background: red;
}

.line {
    width: 60px;
    height: 15px;
    background: #000;
}