*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;
}
canvas {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}

.movement-body {
    display: none
}

.movement {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
}

.movement_item {
    margin: 0 30px 30px;
    /* padding: 0 10px; */
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #000;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movement2 {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movement2-item-1 {
    display: flex;
}

.movement2-item-2 {
    margin: 0 0 20px 120px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.active:active {
    background: #0000003a;
}

.movement2-item-1_item {
    margin: 0 10px;
}

.player {
    width: 10px;
    height: 10px;
    background: red;
}

.line {
    width: 50px;
    height: 15px;
    background: #000;
}

.screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.4);
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 70%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_choose-device--title {
    font-size: 30px;
    font-weight: 700;
}

.menu_choose-device {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu_choose-device .menu_choose-device--chosen {
    font-size: 20px;
    font-weight: 600;
    display: flex;
}

.menu_choose-device .menu_choose-device--chosen div {
    margin: 10px 20px;
    padding: 4px 10px;
    border: 1px solid blue;
    cursor: pointer;
}

.menu_choose-device .menu_choose-device--chosen div:hover {
    background: #eeeeee;
}

.play-btn {
    font-size: 30px;
    font-weight: 600;
    width: 100px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.play-btn:hover {
    background-color: #eeeeee;
}

.heart-list {
    display: flex;
    width: 200px;
    /* justify-content: space-around; */
    align-items: left;
}

.heart {
    width: 50px;
    margin: 0 5px;
}

.died_message h1 {
    font-size: 100px;
}

.died_message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.4);
    width: max-content;
    padding: 100px 200px;
    display: none;
}

.respawn_btn {
    width: 150px;
    padding: 5px 10px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    font-weight: 700;
}
.respawn_btn:hover {
    background-color: #333;
}