*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
canvas {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}

.movement-body {
    display: none
}

.movement {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
}

.movement_item {
    margin: 0 30px 30px;
    /* padding: 0 10px; */
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #000;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movement2 {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movement2-item-1 {
    display: flex;
}

.movement2-item-2 {
    margin: 0 0 20px 120px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.active:active {
    background: #0000003a;
}

.movement2-item-1_item {
    margin: 0 10px;
}

.player {
    width: 10px;
    height: 10px;
    background: red;
}

.line {
    width: 50px;
    height: 15px;
    background: #000;
}

.screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.4);
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 70%;
    background: #fff;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
}

.menu_game-title {
    position: absolute;
    font-size: 40px;
    font-weight: 700;
    top: 2%;
}

.menu__setting {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    width: 55%;
    margin-top: 10%;
    padding-top: 5px;
    border-right: 1px solid blue;
    border-top: 1px solid blue;
}

.menu_choose--title {
    font-size: 30px;
    font-weight: 700;
}

.menu_choose-device, .menu_choose-difficult {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
}

.menu_choose-device .menu_choose-device--chosen {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
}

.menu_choose-device .menu_choose-device--chosen div {
    margin: 10px 3px;
    padding: 4px 5px;
    border: 1px solid blue;
    cursor: pointer;
}

.menu_choose-device .menu_choose-device--chosen div:hover {
    background: #eeeeee;
}

.menu_choose-difficult {
    /* display: flex; */
    margin-top: 10%;
    padding-top: 5px;
    border-left: 1px solid blue;
    border-top: 1px solid blue;
}

.menu_choose-difficult--chosen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu_choose-difficult--chosen-item {
    font-size: 20px;
    font-weight: 600;
    width: 50%;
    text-align: center;
    padding: 2px 4px;
    margin: 4px 2px;
    border: 1px solid blue;
    cursor: pointer;
}

.menu_choose-difficult--chosen-item:hover {
    background: #eeeeee;
}

.play-btn {
    font-size: 30px;
    font-weight: 600;
    width: 100px;
    padding: 4px 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.play-btn:hover {
    background-color: #eeeeee;
}

.heart-list {
    display: flex;
    width: 200px;
    /* justify-content: space-around; */
    align-items: left;
}

.heart {
    width: 50px;
    margin: 0 5px;
}

.died_message h1 {
    font-size: 250%;
}

.died_message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.4);
    width: max-content;
    padding: 10px 20px;
    max-width: 80%;
    min-width: 60%;
    min-height: 70%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.respawn_btn {
    width: 150px;
    padding: 5px 10px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    font-weight: 700;
    margin-top: 20px;
}
.respawn_btn:hover {
    background-color: #333;
}